@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html, body {
  height: 99%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "nunito";
  font-size: 12px;
  font-weight: 350;
}
h1 {
  font-family: "fredoka";
  color: #cc916f;
  font-size: 51px;
  margin: 0px 0px 20px 0px;
}
h2 {
  font-family: "nunito";
  font-size: 12px;
  font-weight: 485;
  margin: 20px 0px 0px 0px;
}
p {
  line-height: 5px;
}
ul {
  margin: 0px 0px 0px 0px;
  padding-left: 20px;
}
li {
  padding-top: 2.5px;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #cc916f;
  cursor: pointer;
}

/* navigation menu */
nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0px 0px 0px 0px;
}
.nav-ul {
  list-style-image: none;
  margin: 0px 0px 0px 0px;
  padding-left: 0px;
}
.nav-li {
  display: inline-block;
  margin: 0px 0px 0px 0px;
}
.nav-li + .nav-li {
  margin-left: 20px;
}

/* main container */
main {
  display: flex;
}
.content {
  flex: 1;
  margin: 10px 0px 0px 0px;
}
#home-content {
  margin-right: 20px;
}
#img {
  margin: 0px 0px 0px 0px;
  height: 132px;
}
#portfolio-heading {
  margin-bottom: 25px;
}
.portfolio-ul {
  margin-top: 5px;
}

/* footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 0px 0px;
}