@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300;400;700&family=Fredoka:wght@300..700&display=swap");
html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  font-family: "averia sans libre";
  font-size: 13px;
  color: #91787c;
}
#all-contents {
  max-width: 600px;
  margin: auto;
  padding: 10px;
}

/* navigation menu */
nav {
  display: flex;
  flex: 1;
  align-items: center;
  background: #f5f5f5;
  margin-bottom: 15px;
  padding: 0 10px;
}
#nav-ul {
  display: flex;
  margin-left: auto;
  list-style-image: none;
}
.nav-li {
  display: inline-block;
}
a {
  padding-left: 25px;
  color: #8c7b80;
  text-decoration: none;
}
a:hover {
  color: #e09dae;
}

/* main container */
main {
  display: flex;
  background: #f5f5f5;
}
.sidebar-img {
  margin: 10px;
  width: 200px;
}
.content {
  flex: 1;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 50px;
  font-size: 13px;
}

/* interests section */
#interests-ul {
  margin-top: 7px;
  padding-left: 20px;
}
.interests-li {
  padding: 1.1px;
}
h2,
h3 {
  margin: 0px;
  padding-top: 5px;
  font-family: "fredoka";
}
h2 {
  font-size: 34px;
  color: #e09dae;
}
h3 {
  font-size: 32px;
}
p {
    line-height: 5px;
}

/* portfolio */
.content h1 {
  color: black;
}
#portfolio {
  list-style-type: none;
  padding-left: 0;
}
#portfolio li {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
#portfolio li:hover {
  background: #eee;
}
#portfolio a {
  text-decoration: none;
  color: #454545;
}