@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

.board {
    height: 100vh;
}
.box {
    display: block;
    height: 50px;
    position: absolute;
    width: 50px;
    font-family: "fredoka";
    color: #FFFFFF;
    font-size: 250%;
    text-align: center;
    user-select: none;
}