@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html, body {
  height: 99%;
}
body {
  align-items: center;
  justify-content: center;
  font-family: "nunito";
  font-size: 16px;
  font-weight: 350;
}

#board {
  background-color: black;
  height: 440px; /* don't change this */
  width: 440px; /* don't change this */
}

.snake, .apple {
  display: block;
  height: 20px;
  width: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: green;
  z-index: 2;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
  background-color: red;
  z-index: 1;
}