@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  align-items: center;
  display: flex;
  height: 99vh;
  justify-content: center;
  font-family: "nunito";
  font-size: 12px;
  font-weight: 350;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

h1 {
  font-family: "fredoka";
  color: #cc916f;
  font-size: 51px;
  margin: 0px 0px 20px 0px;
}

h2 {
  font-family: "nunito";
  font-size: 12px;
  font-weight: 485;
  margin: 20px 0px 0px 0px;
}

p {
  line-height: 5px;
  margin: 0px 0px 12.5px 0px;
}

ul {
  margin: 0px 0px 0px 0px;
  padding-left: 20px;
}

li {
  padding-top: 2.5px;
}

button {
  all: unset;
}

button:hover {
  color: #cc916f;
  cursor: pointer;
}

#description {
  align-items: left;
  display: flex;
  flex-direction: column;
  margin: 0px 20px 0px 0px;
}

#options {
  display: flex;
}

.column {
  flex: 1;
}

#game {
  display: flex;
  flex-direction: column;
  position: relative;
}

#board {
  background-color: #f7e4d7;
  height: 380px; /* (rows + 1) * 20 */
  width: 380px; /* (columns + 1) * 20 */
  position: relative;
}

.apple,
.checkerboard,
.snake {
  display: block;
  height: 20px;
  width: 20px;
  position: absolute;
  user-select: none;
}

.checkerboard {
  background-color: #edd3c5;
  z-index: 1;
}

.apple {
  background-color: #d92926;
  z-index: 2;
}

.snake {
  background-color: #c7adeb;
  z-index: 3;
}

#snake-head {
  background-color: #b299e6;
}
